body {
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;    
    background-size: 100%;
}

h1 {
    color: white;
    font-family: 'Cuprum', sans-serif;
    font-size: 50px;
    margin: 10px auto;
    padding: 20px;
    text-align: center; 
    background-color: black;   
    width: 90%;
    border: 2px solid yellowgreen;
    border-radius: 20px;
}

.return {
    color: white;
    text-align: center;
    font-size: 40px;
    padding: 20px;
    width: 50%;
    border: 2px solid white;
    background-color: rgb(85, 36, 30);
    margin: 10px auto;
    height: 200px;
}
.anime3:hover .return {
    animation: 1s rotate ease;
}
@keyframes beating {
    30% {
        height: 200px;
        width: 200px;
    }
    70% {
        height: 200px;
        width: 200px;
    }
    100% {
        height: 400px;
        width: 400px;
    }
}

@keyframes throw {
    0% {
        background-color: white;
    }
    20% {
        margin-left: 50px;
        margin-top: 30px;
        background-color: rgb(150, 151, 151);
        border-radius: 10% 10% 10% 10%;
    }
    40% {
        margin-left: 100px;
        margin-top: 60px;
        background-color: rgb(117, 119, 119);
        border-radius: 20% 20% 20% 20%;
    }
    60% {
        margin-left: 150px;
        background-color: rgb(70, 71, 71);
        border-radius: 30% 30% 30% 30%;
    }
    80% {
        margin-left: 200px;
        margin-top: 30px;
        background-color: rgb(49, 49, 49);
        border-radius: 40% 40% 40% 40%;
    }
    100% {
        margin-left: 250px;
        background-color: black;
        border-radius: 50% 50% 50% 50%;
    }

}

@keyframes rotate {
    100% {
        transform: rotate(90deg);
        background-color: rgb(21, 71, 25);
    }
}

.anime1 {
    width: 500px;
    height: 500px;   
    padding: 20px; 
}

.anime2 {
    width: 400px;
    height: 400px;   
    padding: 20px; 
}

img {
    display: block;
    height: 400px;
    width: 400px;
    animation: beating 0.5s ease-out 0s infinite alternate;
}

.throw {
    width: 200px;
    height: 200px;
    background-color: white;
    animation: throw 2s ease-out 0s infinite alternate;
}